<div class="mini-hero">
    <div class="background-image"></div>
    <p class="title">
        <%= @vendor.name %>
    </p>
</div>

<div class="container">
    <div class="row vendor-bar">
        <div class="col-sm-2">
            <p class="meta">
                Cuisine
            </p>
            <p class="data">
                Vietnamese
            </p>
        </div>
        <div class="col-sm-2">
            <p class="meta">
                Hours
            </p>
            <p class="data">
                3am-5pm
            </p>
        </div>
        <div class="col-sm-2">
            <p class="meta">
                Distance
            </p>
            <p class="data">
                3.6mi
            </p>
        </div>
        <div class="col-sm-2">
            <p class="meta">
                Address
            </p>
            <p class="data">
                1234 Happy St.
            </p>
        </div>
        <div class="col-sm-2">
            <p class="meta">
                Phone
            </p>
            <p class="data">
                123-456-7890
            </p>
        </div>
        <div class="col-sm-2">
            <p class="meta">
                Something
            </p>
            <p class="data">
                Something
            </p>
        </div>
    </div>
    <div class="row">
        <div class="menu">
            <div class="col-sm-12 col-md-3 col-lg-2">
                <ul class="nav nav-pills nav-stacked menu-sections">
                    <li class="dropdown-header">MENU SECTIONS</li>
                    <li role="presentation" class="active"><a href="#breakfast">Breakfast</a></li>
                    <li role="presentation"><a href="#brunch">Brunch</a></li>
                    <li role="presentation"><a href="#lunch">Lunch</a></li>
                    <li role="presentation"><a href="#dinner">Dinner</a></li>
                    <li role="presentation"><a href="#dessert">Dessert</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="menu-contents">
                    <h1 id="breakfast">Breakfast</h1>
                    <% 1.upto(8) do |x| %>
                        <%= render partial: 'vendors/menu_item', locals: { item: nil } %>
                    <% end %>

                    <h1 id="brunch">Brunch</h1>
                    <% 1.upto(6) do |x| %>
                        <%= render partial: 'vendors/menu_item', locals: { item: nil } %>
                    <% end %>

                    <h1 id="brunch">Lunch</h1>
                    <% 1.upto(15) do |x| %>
                        <%= render partial: 'vendors/menu_item', locals: { item: nil } %>
                    <% end %>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-2">
                <%= render 'payments/cart' %>
            </div>
        </div>
    </div>
</div>
